<!DOCTYPE html>
<html>
<body>

<center>

<br><i>Hello!! </i><br>
<br>This is <b>{{ item.vhost_domain }}</b> web server<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<small>
Created using Ansble Roles
<br>
<br>
<u>copyrights@libyanspider</u>
</small>
</center>

</body>
</html>