<VirtualHost *:80>
    ServerAdmin		webmaster@{{ item.vhost }}
    DocumentRoot	/home/{{ item.owner }}/{{ item.vhost }}/
    ServerName		{{ item.vhost }}
    ServerAlias		www.{{ item.vhost }}
    ErrorLog		/var/log/httpd/{{ item.vhost }}-error_log
    CustomLog		/var/log/httpd/{{ item.vhost }}-access_log combined
       <Directory /home/{{ item.owner }}/{{ item.vhost }}/>
           Require all granted
       </Directory>
</VirtualHost>
